<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!------ CSS------->
  <link rel="stylesheet" href="assets/css/style.css">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">



  <title>About Us</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light ">
    <div class="container">
      <a class="navbar-brand" href="#">Qodra</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav  ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">BOT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active-link" href="#">ABOUT US</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">DOCUMENTATION</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center mt-5">
        <h5 class="headline">Oodra project is develop by a team of Daffodil International Univeristy.</h5>
      </div>
    </div>

    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8 pt-5 mt-3">
            <div class="row profile-pic text-center">
                <div class="col-sm-4">
                    <img src="assets/images/Yeasin.png" class="img-fluid" alt="">
                    <p class="name pt-5">md. yeashin rahman</p>
                    <p class="id">ID : 162-15-750</p>
                    <p class="v-name">Daffodil International university</p>
                </div>
                <div class="col-sm-4">
                    <img src="assets/images/Joy.png" class="img-fluid" alt="">
                    <p class="name pt-5">md. zahid hasan</p>
                    <p class="id">ID : 162-15-775</p>
                    <p class="v-name">Daffodil International university</p>
                </div>
                <div class="col-sm-4">
                    <img src="assets/images/Nirob.png" class="img-fluid" alt="">
                    <p class="name pt-5">md. abdur rouf nirob</p>
                    <p class="id">ID : 162-15-741</p>
                    <p class="v-name">Daffodil International university</p>
                </div>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
    
  </div>


  <!-- Optional JavaScript -->
  <!-- jQuery first,then Bootstrap JS -->
  <script src="assets/bootstrap/js/jQuery.js"></script>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>