<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!------ CSS------->
  <link rel="stylesheet" href="assets/css/style.css">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">



  <title>Hompage</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light ">
    <div class="container">
      <a class="navbar-brand" href="#"><img src="assets/images/logo.png" class="img-fluid" alt=""></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav  ml-auto">
          <li class="nav-item">
            <a class="nav-link  active-link" href="#">BOT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">ABOUT US</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">DOCUMENTATION</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>
  <div class="container-fluid mt-3">
   <div class="row">
    <div class="col-sm-7 bg mask">
       
        <div class="head">
          <h2>Turn Conversation into</h2>
        <h3>a better engagement <br> with Qodra Chatbot</h3>
        </div>
    </div>
    <div class="col-sm-3 bot-img">
      <img src="assets/images/bot.png" class="img-fluid logo-bot" alt="">
    </div>
   </div>
  </div>

  <div class="container">
    <div class="row margintop">
      <div class="col-lg-12 text-center mt-5">
        <h5 class="headline">Ask Qodra AI chatbot to know about bus routes available in Dhaka city</h5>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-sm-2"></div>
      <div class="col-sm-10  chat-block scroller pd-3 m-3">
        <div class="row p-1">
          <div class="col-sm-12 text-right pt-3">
            <p class="h-chat"> <span>Hi</span> </p>
          </div>
        </div>
        <div class="row d-felx align-items-center p-1">
          <div class="col-sm-2 pd">
            <img src="assets/images/Group 834.png" alt="" class="boot-image img-fluid">
          </div>
          <div class="col-sm-10">
            <p class="bot-chat"><span>hello</span> </p>
          </div>
        </div>

        <div class="row p-2">
          <div class="col-sm-12 text-right">
            <p class="h-chat"> <span>How are you?</span> </p>
          </div>
        </div>

        <div class="row d-felx align-items-center p-1">
          <div class="col-sm-2 pd">
            <img src="assets/images/Group 834.png" alt="" class="boot-image img-fluid">
          </div>
          <div class="col-sm-10">
            <p class="bot-chat"><span>I doing well</span> </p>
          </div>
        </div>

      
      </div>

      <div class="col-sm-2"></div>
    </div>
    <div class="container">
      <div class="row m-3">
         <div class="col-sm-10">
            <div class="row">
              <div class="col-sm-11">
            <input class="form-control form-control-sm form-search" type="text" placeholder="Ask Qodra to train">
          </div>
          <div class="col-sm-1 text-right">
            <button type="button" class="btn train-btn">Submit</button>
          </div>
            </div>
         </div>
      </div>
    </div>

    <div class="row d-flex align-items-center justify-content-center mt-5 mb-5">
      <div class="col-sm-5 about">
          <h4 class="mb-4">About Qodra Chatbot</h4>
          <p> <span> Qodra ChatBot</span> is an Artificial Intelligent based Expert System. It can make conversations with you on specific context and can give you information about bus names which routes in Dhaka City. By Dhaka city we mean starting point starts from Abdullahpur.</p>
          <p>This project is developed by the students of <span> Daffodil International university.</span> The team name is Ubiquitous. Team is consiting of three members.</p>

          <h4 class="mt-5">Interested to know about Qodra Chatbot?</h4>

          <button class="view-btn mt-5">View The Documentation</button>
      </div>
      <div class="col-sm-5 about-2 mt-5">
        <img src="assets/images/Reflection.png" alt="" class="img-fluid mobile">

        <h5>Available on Google Playstore <img src="assets/images/5a902dbf7f96951c82922875.png" alt="" class="img-fluid"></h5>
      </div>
    </div>
  </div>

<footer class="container-fluid text-center">
<p>Developed By - Team Ubiquitous | Daffodil International University, CSE Department</p>
</footer>
  <!-- Optional JavaScript -->
  <!-- jQuery first,then Bootstrap JS -->
  <script src="assets/bootstrap/js/jQuery.js"></script>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>